@import 'theme-colors';
$theme-font: 100% verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}


.has-5-columns .wp-block-column {
  width: 20%;
  float: left;
}